@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

body {
  background: #282c34;
}

* {
  font-family: 'Tilt Prism', cursive;
  font-size: 25px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);  /* what is that  */
  margin: 0 auto;    /* what is that  */
  width: 500px;
  height: 500px;
  text-align: center;
  border: 10px solid #101116;
  background: #101116;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*The repeat() CSS function represents a repeated fragment of 
  the track list, allowing a large number of columns or rows that 
  exhibit a recurring pattern to be written in a more compact form.*/
  grid-auto-rows: minmax(60px, auto);
}

.input {
  margin-right: -230px;
  height: 75px;
  width: 248px;
  background-color: #101116;
  border: 0px;
  color: #ffffff;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

#clear {
  grid-column: 1/5;
  grid-row: 1;
  color: #262834;
}

/* #result {
  grid-column: 3/5;
  grid-row: 5;
} */

#equal {
  grid-column: 1/5;
  grid-row: 6;
  color: #262834;
}

#delete {
  color: #262834;
}

button {
  margin: 5px;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: #ffffff;
  font-weight: 500;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

.hilight {
  background: #56cbdb;
  /* background-color: #ffffff; */

}

.title {
  color: #ffffff;
}